.access {
  position: absolute;
}
.ear {
  position: absolute;
}
.hair {
  position: absolute;
}
.mouth {
  position: absolute;
}
.nose {
  position: absolute;
}
.leg {
  position: absolute;
}
.neck {
  position: absolute;
}
.eye {
  position: absolute;
}
.background {
  position: absolute;
}
